* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
} 

.imageContainer {
  float: right;
  width: 93vw;
  height: 90vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2vh;
  border: 2px solid teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textSideBar {
  margin-top: 15%;
  text-align: center;
}

.sideBar {
  width: 5vw;
  height: 100vh;
  float: left;
  border: 2px solid teal;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sliderBar {
  float: right;
  width: 93vw;
  height: 8vh;
  vertical-align: bottom;
  margin-right: 10px;
  border: 2px solid teal;
  display: flex;
  justify-content: center;
  align-items: center;
} 