@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(59, 59, 59);
}

body {
  font-family: 'Comfortaa', cursive;
  color: #aeaaaa;
} 

.imageContainer, .sideBar, .sliderBar {
  border: 4px solid rgb(134, 134, 134);

  display: flex;
  justify-content: center;
}

.imageContainer {
  float: right;

  width: 93vw;
  height: 90vh;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2vh;

  align-items: center;
}

#image {
  max-width: 93vw; 
  height: auto;
  max-height: 89vh; 
  transition: transform 0.25s ease;
}

.textSideBar {
  margin-top: 15%;
  text-align: center;
}

.sideBar {
  width: 5vw;
  height: 100vh;

  float: left;

  flex-direction: column;
}

.sliderBar {
  float: right;

  width: 93vw;
  height: 8vh;

  vertical-align: bottom;
  margin-right: 10px;

  align-items: center;
} 

.valueLabel, .currentValueLabel {
  font-size: 20px;
}

.currentValueLabel {
  margin-left: 40px;
}