.btnWthIco, .delBtn, .saveBtn, .lensBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    width: 80%;
    height: 7%;
    margin-left: 9%;
    margin-top: 7%; 
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; 
} 

.lensBtn:active {
    
}

/* .btnWthIco:active {
    margin-left:50px;
} */

.delBtn {
    background-color: rgb(243, 77, 77);
}

.saveBtn {
    background-color: rgb(77, 255, 77);
}


