.btnWthIco, .delBtn, .saveBtn, .lensBtn {
    padding: 5px 15px;
    position: relative;
    font-size: 14px;
    background: transparent;
    border: 2px solid #aeaaaa;
    cursor: pointer;
    width: 80%;
    height: 7%;

    border-radius: 12px;
    margin: 10%;

    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer; 
    
    transition: all 0.3s ease-in-out;
} 

.lensBtn:active {
    
}

/* .btnWthIco:active {
    margin-left:50px;
} */

.delBtn {
    background-color: rgb(226, 0, 0);
}

.saveBtn {
    background-color: rgb(1, 225, 1);
}
